*.hi
*.o
*.sw?
*.tag
*~
.stack-work/
*.ipynb_checkpoints
.DS_Store
*.cabal
*.o
*.hi
stack*.yaml.lock
.cabal-sandbox/
cabal-dev/
dist-newstyle/
cabal.sandbox.config
TAGS
Setup
dist/
tags
*.imports
.dir-locals.el
.git/
.hspec-failures
*.eventlog
app/longshot
